<app-header></app-header>

<section class="user-question">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-start">
          <img src="assets/images/user.png" alt="">
          <div class="content">
            <h6 class="m-0">
              How do I upload a digital exam?
            </h6>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-answer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-start">
          <img src="assets/images/comments.png" alt="">
          <div class="content">
            <p>To book an exam in South Africa, you need to follow these steps:</p>
            <ol>
              <li>Go to the website https://trinityregistration.azurewebsites.net/</li>
              <li>If you haven't used the site before, register. If you have, login.</li>
              <li>Fill in all your contact details on the registration page, including the postal code.</li>
              <li>Make sure to select the correct South Africa representative or area.</li>
              <li> Click on the appropriate registration option if it is available.</li>
            </ol>
            <p>Please note that if you are registering for a digital exam, there may be a delay of up to five days before you
              receive an email asking you to upload your exam recording.</p>
            <p>Read more: <a href="#">support.trinitycollege.co.za...</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-question">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-start">
          <img src="assets/images/user.png" alt="">
          <div class="content">
            <h6 class="m-0">
              Where can I download the piano syllabus?
            </h6>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-answer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-start">
          <img src="assets/images/comments.png" alt="">
          <div class="content">
            <p>You can download the piano syllabus from the following link:</p>
            <a href="#">https://www.trinitycollege.com/resource/?id=9079</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-11">
      <div class="textarea">
        <textarea placeholder="Type a new question (e.g. Where I find the current piano syllabuses?)"></textarea>
        <img src="assets/images/send.png" alt="">
      </div>
    </div>
    <div class="col-1">
      <a href="#">Clear chat</a>
    </div>
  </div>
</div>