<app-header></app-header>

<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center main-heading">
          Type your question below or choose from our <br> list of most requested per subject area.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-tab-group>
          <mat-tab label="English Language">
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  How do I book an exam?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  How do I upload a digital exam?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  Where can I download the latest syllabuses?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  What's the latest Trinity newa?
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Music">
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  How do I book an exam?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  How do I upload a digital exam?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  Where can I download the latest syllabuses?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  What's the latest Trinity newa?
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Drama">
            <div class="row">
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  How do I book an exam?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  How do I upload a digital exam?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  Where can I download the latest syllabuses?
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <div class="content-box" routerLink="/faq">
                  What's the latest Trinity newa?
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="textarea">
          <textarea placeholder="Type a new question (e.g. Where I find the current piano syllabuses?)"></textarea>
          <img src="assets/images/send.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
